// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

body{
    background:#f5f5f5 !important;
    height: 100vh;

}

marquee{
    background: black;
    font-family: sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
}

input{
    border: none !important;
}

input:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

button{
    background: black !important;
    font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}

#JPO{
    background: white;
    padding: 20px;
    font-family: sans-serif;
}

.JPO-inner{
    display: flex;
    flex-direction: column;
}

.JPO_close{
    text-align: right;
}

.grey{
    font-style: italic;
    color: grey;
}