
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  All of our products
{% endblock %}

{% block content %}
  <div id="JPO">
    <div class="JPO-inner">
      <!-- Add a button to close the popup (optional) -->
      <p class="JPO_close">X</p>
      <h3 class="govuk-heading-m">Sign up to our newsletter and get 10% off your first order!</h3>
      
      {{ govukButton({
        text: "Sign up",
        classes: "govuk-!-margin-top-4"
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">
        Sign up
      </h1>
      {% if errorEmail == true or errorPassword == true %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for error in errorList %}
              <li>
                {{error.text}}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      <p class="govuk-body-s">Click the black button when finished.</p>
      <form action="/index" method="post">
      {{ govukInput({
      label: {
        text: "Name"
      },
      id: "sign-up-name",
      name: "sign-up-name"
      }) }}
      
      <div class="govuk-form-group">
        <input class="govuk-input" id="sign-up-email" name="sign-up-email" placeholder="Email address" type="text">
      </div>
      <div class="govuk-form-group">
        <input class="govuk-input" id="sign-up-password" type="password" name="sign-up-password" placeholder="Enter password" type="text">
      </div>
      <div class="govuk-form-group">
        <input class="govuk-input" id="sign-up-password-confirm" placeholder="Confirm password" name="sign-up-password-confirm" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="date-of-birth">Date of birth (optional)</label>
        <input class="govuk-input" type="date" id="start" name="date-of-birth"
       value="2018-07-22">
      </div>

      {{ govukButton({
        text: "Register"
      }) }}
      </form>
    </div>
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-m">Login</h1>
      {{ govukInput({
      label: {
        text: "Username"
      },
      id: "login-username",
      name: "sign-up-name"
      }) }}
      {{ govukInput({
      label: {
        text: "Password"
      },
      id: "login-password",
      type: "password",
      name: "login-password"
    }) }}
    {{ govukButton({
    text: "Sign in",
    classes: "govuk-!-margin-top-4"
    }) }}
  </div>
</div>
<p class="govuk-body-s govuk-!-margin-top-8 grey">This website works best in Firefox and Chrome V22.</p>
{% endblock %}
